# Architecture
BR2_riscv=y
BR2_riscv_g=y
BR2_RISCV_ISA_RVC=y

# Linux headers same as kernel 5.10 series
BR2_KERNEL_HEADERS_5_10=y

# Using gcc13 and musl to have t-head's optimization and features
BR2_GCC_VERSION_13_X=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_TOOLCHAIN_BUILDROOT_MUSL=y
BR2_TARGET_OPTIMIZATION="-march=rv64imafdc_xtheadba_xtheadbb_xtheadbs_xtheadcmo_xtheadcondmov_xtheadfmemidx_xtheadfmv_xtheadint_xtheadmac_xtheadmemidx_xtheadmempair_xtheadsync"

# opensbi
BR2_TARGET_OPENSBI=y
BR2_TARGET_OPENSBI_CUSTOM_GIT=y
BR2_TARGET_OPENSBI_CUSTOM_REPO_URL="https://github.com/milkv-duo/milkv-duo-opensbi.git"
BR2_TARGET_OPENSBI_CUSTOM_REPO_VERSION="ee78f99daf8ac5956c6bf95458983ead52142548"
BR2_TARGET_OPENSBI_PLAT="generic"
BR2_TARGET_OPENSBI_UBOOT_PAYLOAD=y
BR2_TARGET_OPENSBI_FW_FDT_PATH=y

# u-boot
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
BR2_TARGET_UBOOT_CUSTOM_GIT=y
BR2_TARGET_UBOOT_CUSTOM_REPO_URL="https://github.com/milkv-duo/milkv-duo-u-boot.git"
BR2_TARGET_UBOOT_CUSTOM_REPO_VERSION="v2021.10_ion"
BR2_TARGET_UBOOT_BOARD_DEFCONFIG="cvitek_cv1800b_milkv_duo_sd"
BR2_TARGET_UBOOT_NEEDS_DTC=y
BR2_TARGET_UBOOT_NEEDS_OPENSBI=y

# Kernel
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_REPO_URL="https://github.com/milkv-duo/milkv-duo-linux.git"
BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="duo-linux-5.10.4"
BR2_LINUX_KERNEL_DEFCONFIG="cvitek_cv1800b_milkv_duo_sd"
BR2_LINUX_KERNEL_LZMA=y

# SD card image generating script
BR2_ROOTFS_POST_IMAGE_SCRIPT="board/milkv/duo/post-image.sh"

# rootfs
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_EXT2_4=y

# Packages for the sdcard image generating
BR2_PACKAGE_MILKV_DUO_LIBRARIES=y
BR2_PACKAGE_MILKV_DUO_FIRMWARE_FSBL=y
BR2_PACKAGE_MILKV_DUO_SMALLCORE_FREERTOS=y
BR2_PACKAGE_MILKV_DUO_PINMUX=y
BR2_PACKAGE_MILKV_DUO_FEATURES=y
BR2_PACKAGE_MILKV_DUO_SMALLCORE_FREERTOS=y

# Host packages for the sdcard image generating
BR2_PACKAGE_HOST_DOSFSTOOLS=y
BR2_PACKAGE_HOST_GENIMAGE=y
BR2_PACKAGE_HOST_LZMA_ALONE=y
BR2_PACKAGE_HOST_MTOOLS=y
BR2_PACKAGE_HOST_UBOOT_TOOLS=y
BR2_PACKAGE_HOST_UBOOT_TOOLS_FIT_SUPPORT=y
